{% extends "home.html" %}
{% block title %}

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Destinations</h3>
                        <p>Pixel perfect design with awesome contents</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- where_togo_area_start  -->
    <center><h1 style="margin-bottom:70px; margin-top: 100px;">Popular Destinations</h1></center>

    <!-- newletter_area_start  -->
    <div class="newletter_area overlay">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-10">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="newsletter_text">
                                <h4>Discover Your Perfect Destination</h4>
<p>Explore stunning destinations and hidden gems. Your next unforgettable adventure starts here!</p>

                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="mail_form">
                                <div class="row no-gutters">
                                    <div class="col-lg-9 col-md-8">
                                        <form action="{% url 'search' %}" method='post'>
                                            {% csrf_token %}
                                        <div class="newsletter_field">
                                            <input type="text" placeholder="Search Here...." name="search" >
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4">
                                        <div class="newsletter_btn">
                                            <button class="boxed-btn4 " type="submit" >Search</button>
                                        </div>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popular_places_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="filter_result_wrap">
                        <h3>Filter Result</h3>
                        <div class="filter_bordered">
                            <div class="filter_inner">
                                <form action="{% url 'filter' %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}                                
                                    <div class="row">
                               
                                    <div class="col-lg-12">
                                        <div class="single_select">
                                            <select name="areatype" required>
                                                <option value="" disabled selected>Select Area Type</option>
                                                <option value="Hill">Hill</option>
                                                <option value="Nature">Nature</option>
                                                <option value="Beaches">Beaches</option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="range_slider_wrap">
                                                <!-- <span class="range">Prise range</span>
                                                <div id="slider-range"></div>
                                                <p>
                                                    <input type="text" id="amount" readonly style="border:0; color:#7A838B; font-weight:400;">
                                                </p> -->
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="reset_btn">
                                <button class="boxed-btn4" type="submit">Filter</button>
                            </div>
                           </form>
                        </div>
                    </div>
                </div>
                {% if data %}
                <div class="col-lg-8">
                    <div class="row">
                        {% for i in data %}
                        <div class="col-lg-6 col-md-6">
                            <div class="single_place">
                                <div class="thumb">
                                    <img src="/{{i.image.0.imgpath}}" alt="">
                                    {% comment %} <a href="#" class="prise">$500</a> {% endcomment %}
                                </div>
                                <div class="place_info">
                                    <a href="{% url 'destdetails' i.id %}"><h3>{{i.placename}}</h3></a>
                                    <p>{{i.city}}, {{i.state}}</p>
                                    <div class="rating_days d-flex justify-content-between">
                                        {% comment %} <span class="d-flex justify-content-center align-items-center">
                                             <i class="fa fa-star"></i> 
                                             <i class="fa fa-star"></i> 
                                             <i class="fa fa-star"></i> 
                                             <i class="fa fa-star"></i> 
                                             <i class="fa fa-star"></i>
                                             <a href="#">(20 Review)</a>
                                        </span>  {% endcomment %}
                                        <div class="days">
                                            {% comment %} <i class="fa fa-clock-o"></i>
                                            <a href="#">5 Days</a> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                      
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="more_place_btn text-center">
                                <a class="boxed-btn4" href="#">More Places</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <center><p>No Data Found</p></center>
    {% endif %}


{% endblock %}